header {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

header .shop-logo {
  flex-grow: 40;
  text-align: center;
}

header .cart-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

header .cart-section span {
  background-color: black;
  color: white;
  padding: 3px;
  font-size: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  display: inline-block;
}

header img {
  height: 30px;
}
