@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

.loading-spin {
  text-align: center;
  margin: 0 auto;
  width: 10vh;
  font-size: 12px;
}

#modal-warning {
  text-align: center;
  padding: 30px 20px;
}

#modal-warning a {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 19px;
  cursor: pointer;
}
