@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

.loading-spin {
  text-align: center;
  margin: 0 auto;
  width: 10vh;
  font-size: 12px;
}
